<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		

		

		<link rel="modulepreload" href="/svelte-splide/app/start-0dccc629.js">
		<link rel="modulepreload" href="/svelte-splide/app/chunks/vendor-8b8f70f9.js">
		<link rel="modulepreload" href="/svelte-splide/app/layout.svelte-9cb95484.js">
		<link rel="modulepreload" href="/svelte-splide/app/pages/components/ReactivityExample.svelte-5d4f2b72.js">
		<link rel="modulepreload" href="/svelte-splide/app/chunks/generateSlides-2c575ba3.js">
		<link rel="stylesheet" href="/svelte-splide/app/assets/start-61d1577b.css">
		<link rel="stylesheet" href="/svelte-splide/app/assets/pages/components/ReactivityExample.svelte-c93517bb.css">

		<script type="module">
			import { start } from "/svelte-splide/app/start-0dccc629.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/svelte-splide","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/svelte-splide/app/layout.svelte-9cb95484.js"),
						import("/svelte-splide/app/pages/components/ReactivityExample.svelte-5d4f2b72.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "\u002Fcomponents\u002FReactivityExample",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
	</head>
	<body>
		<div id="svelte">


<div class="wrapper"><h2>Reactivity Example</h2>

	<div style="margin-bottom: 1rem"><label class="svelte-vwdbkg"><span class="svelte-vwdbkg">gap:</span>
			<input type="number" min="0" max="20" class="svelte-vwdbkg" value="0">
			px
		</label>

		<label class="svelte-vwdbkg"><span class="svelte-vwdbkg">perPage:</span>
			<input type="number" min="1" max="5" class="svelte-vwdbkg" value="2"></label>

		<label class="svelte-vwdbkg"><span class="svelte-vwdbkg">height:</span>
			<input type="number" min="5" max="20" value="10" class="svelte-vwdbkg">
			rem
		</label></div>

	

<div class="splide undefined">

	

		<div class="splide__track"><ul class="splide__list"><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=0" alt="Image 0">
			</li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=1" alt="Image 1">
			</li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=2" alt="Image 2">
			</li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=3" alt="Image 3">
			</li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=4" alt="Image 4">
			</li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=5" alt="Image 5">
			</li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=6" alt="Image 6">
			</li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=7" alt="Image 7">
			</li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=8" alt="Image 8">
			</li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=9" alt="Image 9">
			</li></ul></div>

		

	</div>
</div>



			
		</div>
	</body>
</html>
