<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/svelte-splide/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <meta http-equiv="content-security-policy" content="">
	<link rel="modulepreload" href="/svelte-splide/app/start-50731ba1.js">
	<link rel="modulepreload" href="/svelte-splide/app/chunks/index-71ff52dc.js">
	<link rel="modulepreload" href="/svelte-splide/app/layout.svelte-e1aaf72e.js">
	<link rel="modulepreload" href="/svelte-splide/app/pages/components/BasicExample.svelte-f73fa72f.js">
	<link rel="modulepreload" href="/svelte-splide/app/chunks/SplideSlide-3ecbb5b2.js">
	<link rel="modulepreload" href="/svelte-splide/app/chunks/generateSlides-2c575ba3.js">
  </head>
  <body>
    <div id="svelte">


<div class="wrapper"><h2 id="basic-example-heading">Basic</h2>

  

<div class="splide custom-class" aria-labelledby="basic-example-heading"><div class="splide__track"><ul class="splide__list"><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=0" alt="Image 0">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=1" alt="Image 1">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=2" alt="Image 2">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=3" alt="Image 3">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=4" alt="Image 4">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=5" alt="Image 5">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=6" alt="Image 6">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=7" alt="Image 7">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=8" alt="Image 8">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=9" alt="Image 9">
      </li></ul></div></div></div>


		<script type="module" data-hydrate="53wge0">
		import { start } from "/svelte-splide/app/start-50731ba1.js";
		start({
			target: document.querySelector('[data-hydrate="53wge0"]').parentNode,
			paths: {"base":"/svelte-splide","assets":"/svelte-splide"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/svelte-splide/app/layout.svelte-e1aaf72e.js"),
						import("/svelte-splide/app/pages/components/BasicExample.svelte-f73fa72f.js")
				],
				params: {},
				routeId: "components/BasicExample"
			}
		});
	</script></div>
  </body>
</html>
