<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/svelte-splide/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <meta http-equiv="content-security-policy" content="">
	<link rel="modulepreload" href="/svelte-splide/app/start-50731ba1.js">
	<link rel="modulepreload" href="/svelte-splide/app/chunks/index-71ff52dc.js">
	<link rel="modulepreload" href="/svelte-splide/app/layout.svelte-e1aaf72e.js">
	<link rel="modulepreload" href="/svelte-splide/app/pages/components/DynamicSlidesExample.svelte-c7013b19.js">
	<link rel="modulepreload" href="/svelte-splide/app/chunks/SplideSlide-3ecbb5b2.js">
	<link rel="modulepreload" href="/svelte-splide/app/chunks/generateSlides-2c575ba3.js">
  </head>
  <body>
    <div id="svelte">


<div class="wrapper"><h2 id="dynamic-slides-example-heading">Dynamic Slides</h2>

  

<div class="splide splide--dynamic" aria-labelledby="dynamic-slides-example-heading"><div style="position: relative"><div class="splide__track" style="min-height: 15rem"><ul class="splide__list"><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=0" alt="Image 0">
          </li></ul></div></div>

    <div class="controls"><button>Add</button>
      <button>Remove</button></div></div></div>


		<script type="module" data-hydrate="yzurgd">
		import { start } from "/svelte-splide/app/start-50731ba1.js";
		start({
			target: document.querySelector('[data-hydrate="yzurgd"]').parentNode,
			paths: {"base":"/svelte-splide","assets":"/svelte-splide"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/svelte-splide/app/layout.svelte-e1aaf72e.js"),
						import("/svelte-splide/app/pages/components/DynamicSlidesExample.svelte-c7013b19.js")
				],
				params: {},
				routeId: "components/DynamicSlidesExample"
			}
		});
	</script></div>
  </body>
</html>
