<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/svelte-splide/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <meta http-equiv="content-security-policy" content="">
	<link rel="stylesheet" href="/svelte-splide/app/assets/pages/components/VideoExample.svelte-10ba73f4.css">
	<link rel="modulepreload" href="/svelte-splide/app/start-50731ba1.js">
	<link rel="modulepreload" href="/svelte-splide/app/chunks/index-71ff52dc.js">
	<link rel="modulepreload" href="/svelte-splide/app/layout.svelte-e1aaf72e.js">
	<link rel="modulepreload" href="/svelte-splide/app/pages/components/VideoExample.svelte-4b7802c0.js">
	<link rel="modulepreload" href="/svelte-splide/app/chunks/SplideSlide-3ecbb5b2.js">
  </head>
  <body>
    <div id="svelte">


<div class="wrapper"><h2 id="video-example-heading">Video</h2>

  

<div class="splide" aria-labelledby="video-example-heading"><div class="splide__track"><ul class="splide__list"><li class="splide__slide" data-splide-youtube="3GNQL3alB-Y"><img src="https://i3.ytimg.com/vi/3GNQL3alB-Y/maxresdefault.jpg" alt="YouTube Sample 1">
      </li><li class="splide__slide" data-splide-youtube="xLJ2QQDrN9k"><img src="https://i3.ytimg.com/vi/xLJ2QQDrN9k/maxresdefault.jpg" alt="YouTube Sample 2">
      </li><li class="splide__slide" data-splide-youtube="cdz__ojQOuU"><img src="https://i3.ytimg.com/vi/cdz__ojQOuU/maxresdefault.jpg" alt="YouTube Sample 3">
      </li><li class="splide__slide" data-splide-youtube="oS6N_ZBFDZE"><img src="https://i3.ytimg.com/vi/oS6N_ZBFDZE/maxresdefault.jpg" alt="YouTube Sample 4">
      </li></ul></div></div></div>


		<script type="module" data-hydrate="qf7nt3">
		import { start } from "/svelte-splide/app/start-50731ba1.js";
		start({
			target: document.querySelector('[data-hydrate="qf7nt3"]').parentNode,
			paths: {"base":"/svelte-splide","assets":"/svelte-splide"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/svelte-splide/app/layout.svelte-e1aaf72e.js"),
						import("/svelte-splide/app/pages/components/VideoExample.svelte-4b7802c0.js")
				],
				params: {},
				routeId: "components/VideoExample"
			}
		});
	</script></div>
  </body>
</html>
