<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/svelte-splide/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    

		

		<link rel="modulepreload" href="/svelte-splide/app/start-285625b3.js">
		<link rel="modulepreload" href="/svelte-splide/app/chunks/vendor-cdeceb07.js">
		<link rel="modulepreload" href="/svelte-splide/app/layout.svelte-ff79283f.js">
		<link rel="modulepreload" href="/svelte-splide/app/pages/components/DynamicSlidesExample.svelte-febfada2.js">
		<link rel="modulepreload" href="/svelte-splide/app/chunks/SplideSlide-013cd6ce.js">
		<link rel="modulepreload" href="/svelte-splide/app/chunks/generateSlides-2c575ba3.js">
		<link rel="stylesheet" href="/svelte-splide/app/assets/start-61d1577b.css">
		<link rel="stylesheet" href="/svelte-splide/app/assets/pages/components/DynamicSlidesExample.svelte-68f476a6.css">

		<script type="module">
			import { start } from "/svelte-splide/app/start-285625b3.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/svelte-splide","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/svelte-splide/app/layout.svelte-ff79283f.js"),
						import("/svelte-splide/app/pages/components/DynamicSlidesExample.svelte-febfada2.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "\u002Fcomponents\u002FDynamicSlidesExample",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
  </head>
  <body>
    <div id="svelte">


<div class="wrapper svelte-7z9lr6"><h2>Dynamic Slides</h2>

  

<div class="splide splide--dynamic">

  <div class="splide__slider">

      <div class="splide__track"><ul class="splide__list"><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=0" alt="Image 0">
      </li></ul></div>

      </div>

  </div>

  <div class="controls"><button>Add</button>
    <button>Remove</button></div>
</div>



			
		</div>
  </body>
</html>
