<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/svelte-splide/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    

		

		<link rel="modulepreload" href="/svelte-splide/app/start-e14133f1.js">
		<link rel="modulepreload" href="/svelte-splide/app/chunks/vendor-ff230cc2.js">
		<link rel="modulepreload" href="/svelte-splide/app/layout.svelte-1ce3abaa.js">
		<link rel="modulepreload" href="/svelte-splide/app/pages/components/AutoplayExample.svelte-77f2868d.js">
		<link rel="modulepreload" href="/svelte-splide/app/chunks/SplideSlide-96c7afc4.js">
		<link rel="modulepreload" href="/svelte-splide/app/chunks/generateSlides-2c575ba3.js">
		<link rel="stylesheet" href="/svelte-splide/app/assets/start-61d1577b.css">

		<script type="module">
			import { start } from "/svelte-splide/app/start-e14133f1.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/svelte-splide","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/svelte-splide/app/layout.svelte-1ce3abaa.js"),
						import("/svelte-splide/app/pages/components/AutoplayExample.svelte-77f2868d.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "\u002Fcomponents\u002FAutoplayExample",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
  </head>
  <body>
    <div id="svelte">


<div class="wrapper"><h2>Autoplay</h2>

  

<div class="splide">

  <div class="splide__slider">

      <div class="splide__track"><ul class="splide__list"><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=0" alt="Image 0">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=1" alt="Image 1">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=2" alt="Image 2">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=3" alt="Image 3">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=4" alt="Image 4">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=5" alt="Image 5">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=6" alt="Image 6">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=7" alt="Image 7">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=8" alt="Image 8">
      </li><li class="splide__slide"><img src="https://source.unsplash.com/random/800x450?sig=9" alt="Image 9">
      </li></ul></div>

      </div>

  <div class="splide__progress"><div class="splide__progress__bar"></div></div>

      <div class="splide__autoplay"><button class="splide__play">Play</button>
        <button class="splide__pause">Pause</button></div>
    </div></div>



			
		</div>
  </body>
</html>
