<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		

		

		<link rel="modulepreload" href="/_app/start-7168604a.js">
		<link rel="modulepreload" href="/_app/chunks/vendor-8b8f70f9.js">
		<link rel="modulepreload" href="/_app/layout.svelte-9cb95484.js">
		<link rel="modulepreload" href="/_app/pages/components/VideoExample.svelte-3948c57a.js">
		<link rel="stylesheet" href="/_app/assets/start-61d1577b.css">
		<link rel="stylesheet" href="/_app/assets/pages/components/VideoExample.svelte-478f4af0.css">

		<script type="module">
			import { start } from "/_app/start-7168604a.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/_app/layout.svelte-9cb95484.js"),
						import("/_app/pages/components/VideoExample.svelte-3948c57a.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "\u002Fcomponents\u002FVideoExample",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
	</head>
	<body>
		<div id="svelte">


<div class="wrapper"><h2>Basic</h2>

	

<div class="splide undefined">

	

		<div class="splide__track"><ul class="splide__list"><li class="splide__slide" data-splide-youtube="3GNQL3alB-Y"><img src="https://i3.ytimg.com/vi/3GNQL3alB-Y/maxresdefault.jpg" alt="YouTube Sample 1">
			</li><li class="splide__slide" data-splide-youtube="xLJ2QQDrN9k"><img src="https://i3.ytimg.com/vi/xLJ2QQDrN9k/maxresdefault.jpg" alt="YouTube Sample 2">
			</li><li class="splide__slide" data-splide-youtube="cdz__ojQOuU"><img src="https://i3.ytimg.com/vi/cdz__ojQOuU/maxresdefault.jpg" alt="YouTube Sample 3">
			</li><li class="splide__slide" data-splide-youtube="oS6N_ZBFDZE"><img src="https://i3.ytimg.com/vi/oS6N_ZBFDZE/maxresdefault.jpg" alt="YouTube Sample 4">
			</li></ul></div>

		

	</div></div>



			
		</div>
	</body>
</html>
